.movie-bar {
    border: black solid 1px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.movieID{
    flex-grow: 10;
    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}

.title {
    flex-grow: 10;
    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}
.year {
    flex-grow: 10;
    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}

.category {
    flex-grow: 10;
    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}

.update {
    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}

.delete {
    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}