.movie-bar {
    border: black solid 1px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.movieID{
    flex-grow: 10;
    /*border: black solid 1px;*/
    padding: 10px;
    margin: 10px;

}

.title {
    flex-grow: 10;
    /*border: black solid 1px;*/
    padding: 10px;
    margin: 10px;

}
.year {
    flex-grow: 10;
    /*border: black solid 1px;*/
    padding: 10px;
    margin: 10px;

}

.category {
    flex-grow: 10;
    /*border: black solid 1px;*/
    padding: 10px;
    margin: 10px;

}



