.sign-in-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: black solid 1px;
    width: 200px;
    height: 200px

}
.login-form{
    display: flex;
    flex-direction: column;
    font-family: Cambria;
    font-weight: bolder;
    font-size: 15px;
    color: crimson;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 10px;
    /*border: black solid 1px;*/
    width: 200px;
    height: 200px

}
button {
    font-family: Cambria;
    font-size: 15px;
    color: crimson;
    padding: 5px;
    margin: 5px;
}
