.avatar{
    border: black solid 1px;
}

.userinfo{
    border: black solid 1px;

}

.wishlist{
    border: black solid 1px;

}

.tickets{
    border: black solid 1px;

}
.movie-info{
    border: black solid 1px;

}