.home-movie-detail-poster {
    flex: 2 2;
    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}

.home-movie-detail-text {
    flex: 1 1;
    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}

.home-movie-detail-title {
    padding: 10px;

}

.home-movie-detail-summary {
    padding: 10px;

}
.home-movie-detail-category {
    padding: 10px;

}
.home-movie-detail-year {
    padding: 10px;

}

.home-movie-detail-description{
    padding: 10px;

}

.get-ticket {
    padding: 10px;

}

.put-on-wishlist {
    padding: 10px;
}