.nav-container {

    /*background-color: coral;*/
    padding: 5px;
    margin: 5px;
}

ul{

    list-style-type: none;
}

li{
    padding:20px;
    font-family: "Showcard Gothic";
    font-weight: bolder;
    text-decoration: none;
    color: black;

}

a {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: underline;

}







