
.signup-form {
    display: flex;
    flex-direction: column;
    font-family: Cambria;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    font-size: 15px;
    color: crimson;
    padding: 15px;
    margin: 20px;
    width: 100px
}

button {
    font-family: Cambria;
    font-size: 15px;
    color: crimson;
    margin: 10px;
}
login{
    color: aliceblue;
}