.signup-form {

    font-family: Cambria;
    font-weight: bolder;
    font-size: 15px;
    color: crimson;
    padding: 10px;
    margin: 5px;
    border: black solid 1px;
    width: 200px;
    height: 200px
}

button {
    font-family: Cambria;
    font-size: 15px;
    color: crimson;
    padding: 5px;
}