* {
    padding: 0px;
    margin: 0px;
}
.App {
    width: 100vw;
    height: 100vh;
    /*background-color: coral;*/
    display: flex;
    flex-direction: column;
}

Link:hover, a:visited{
    color: crimson;
    text-decoration: underline;
}
Link:active{
    color: crimson;
    text-decoration: none;
}

p {
    font-family: Cambria;
}

