label {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

textarea {
    resize: none;
    overflow-y: scroll;

}

.movie-form {

    display: flex;
    align-items:flex-start;
    justify-content: flex-start;


    border: black solid 1px;
    padding: 5px;
    margin: 5px;
    max-height: 180px;

}

.movie-info {


    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}

.movie-img {

    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}

.desc-summary{

    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}


.desc-description{

    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}
.description{
    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}
.update-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;

    border: black solid 1px;

}




.movie-list{
    max-height: 350px;
    overflow-y: scroll;
    border: solid 1px black;
}


.filter{
    margin: 10px;
    margin-left: 40px;
    width: 200px;


}

.filter-input{
    height: 20px;
}
