label{
    display: block;
    padding: 10px;
}

textarea {

}

button {
    font-family: Cambria;
    font-size: 15px;
    padding: 5px;
}

.movie-form {
    grid-column:1/4;
    grid-row: 1/8;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: #a6c4e9;

}

.movie-form-basic{


}

.movie-form-img{

}

.movie-form-desc{

}

label{

}

textarea {

}

button {

}

.all-movies {

}