label {
    display: flex;
    flex-direction: column;

}

textarea {
    resize: none;
    overflow-y: scroll;

}

.movie-form {

    display: flex;

    background-color: #ffffff;
    border: black solid 1px;
    padding: 5px;
    margin: 5px;
    max-height: 150px;

}

.movie-info {


    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}

.movie-img {

    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}

.desc-summary{

    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}


.desc-description{

    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}
.description{
    border: black solid 1px;
    padding: 10px;
    margin: 10px;

}
.update-button{
    display: flex;
    justify-content: center;
    align-items: center;

    border: black solid 1px;
    padding: 10px;
    margin: 10px;
    height: 30px;

}

.movie-list{
    max-height: 350px;
    overflow-y: scroll;
    border: solid 1px black;
}
